<!DOCTYPE html>
<html>
  <head>
    <title>Textapp</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/default.min.css">
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>

    <script src="https://kit.fontawesome.com/fd98ffa8b7.js" crossorigin="anonymous"></script>

    <script>hljs.initHighlightingOnLoad();</script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <% if user_signed_in?%>
    <%= render "layouts/nav" %>
  <% end %>
    <div class="wrap__contents">
      <%= yield %>
    </div>
  </body>
</html>
